<a href="/mycart">
    <div class="mycart " style="background-color:{{backgroundcolor}};">
        <div class="hori">
            <div class="hori">
                <div class="mycartText">
                    My Cart
                </div>
            </div>
            <div>
                <img src="/images/icon_cart.png" style="margin-left:21px; margin-top:24px;" />
            </div>
        </div>
    </div>
</a>