<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/images.css">
    <link rel="stylesheet" type="text/css" href="/css/hover.css">
    <link rel="stylesheet" type="text/css" href="/css/cart.css">
    <link rel="icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTown | Cart</title>
</head>

<body>
    {{> navbar topmargin=-50 backgroundcolor="black"}}
    <div class="header">
        <p class="header-text">Cart</p>
    </div>

    <div class="cart-container">
        <div class="cart-info-text">
            <div class="include-item-text">Include?</div>
            <div class="cart-info-text-image">Image</div>
            <div>Details</div>
            <div>Variant</div>
            <div>Unit Price</div>
            <div>Quantity</div>
            <div>Total</div>
            <div>Actions</div>
        </div>

        {{#each cartItems }}
        {{> cartitem this }}
        {{/each}}

        <div class="cart-footer cart-footer-1">
            <div class="select-all">Select All</div>
            <div class="subtotal-text">Subtotal</div>
            <div class="subtotal">PHP {{subtotal}} </div>
        </div>

        <div class="cart-footer cart-footer-1">
            <div class="points-gained-text">Points Gained</div>
            <div class="points"> {{points}} </div>
            <div class="check-out-text">
                <button>Check Out</button>
            </div>
        </div>
    </div>
</body>

</html>