<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/images.css">
    <link rel="stylesheet" type="text/css" href="/css/hover.css">
    <link rel="stylesheet" type="text/css" href="/css/checkout.css">
    <link rel="icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/checkout_scripts.js"></script>
    <title>WebTown | Checkout</title>
</head>

<body>
    {{> navbar topmargin=-50 backgroundcolor="black"}}
    <div class="header">
        <p class="header-text">Checkout</p>
    </div>

    <div class="order-summary">
        <div class="order-summary-text">Order Summary</div>
    </div>

    <div class="checkout-container">
        {{#each checkoutItems}}
        {{> checkoutitem this}}
        {{/each}}

        <div class="checkout-footer checkout-footer-1">
            <div class="subtotal-text">Subtotal</div>
            <div class="subtotal">PHP {{toLocaleString subtotal}} </div>
        </div>

        <div class="checkout-footer checkout-footer-1">
            <div class="points-gained-text">Points Gained</div>
            <div class="points"> {{ points }} </div>
        </div>
    </div>

    <div class="payment-section">
        <div class="payment-section-text">Payment</div>

        <div class="payment-tab">
            <button name="payment-gcash" class="tablink tablink-active">GCash</button>
            <button name="payment-maya" class="tablink">Maya</button>
        </div>

        <!-- Tabs -->
        <div class="tabcontent tabcontent-active" id="payment-gcash">
            <img src="/images/payment/gcash.png">
        </div>

        <div class="tabcontent tabcontent-inactive" id="payment-maya">
            <img src="/images/payment/maya.png">
        </div>
    </div>
</body>

</html>