<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTown | Error</title>

</head>

<body>
    {{> navbar}}
    <div>
        <p style="text-align:center; font-size: 50px; margin-left:25%; position:absolute">
            Error 404: Webpage not found!
        </p>
    </div>
</body>

</html>