<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/images.css">
    <link rel="stylesheet" type="text/css" href="/css/hover.css">
    <link rel="icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTown | Home</title>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>

<body>
    <div>
        <div class="townmap">
            <a href="/interior">
                <img class="kithouse hvr-grow" src="/images/sample_house.png" />
            </a>



            <img class="plus hvr-grow" style="margin-left: 445px; margin-top: 210px;"src="/images/add_town.png" />
   


        </div>
        {{> navbar}}
        {{> cartbutton}}
        <div style="position:absolute;">
        </div>
    </div>




    <script src="/js/add_house.js"></script>
</body>

</html>