<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/images.css">
    <link rel="stylesheet" type="text/css" href="/css/hover.css">
    <link rel="icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTown | Home</title>
</head>

<body style="background-color:">
    <div>
        <div class="">
        </div>
        {{> navbar topmargin=-40}}
        <div>
            <p style="text-align:right; font-size:40px; margin-right:50px">
                Kitkat's Home
            </p>
        </div>
        <div style="position:absolute; ">

            <a href="/room1">  <img class="room1" src="/images/sample_rooms/room1.png" /> </a>
            <a href="/room2">  <img class="room2" src="/images/sample_rooms/room2.png" /> </a>
            <a href="/room3">  <img class="room3" src="/images/sample_rooms/room3.png" /> </a>
            <a href="/room4">  <img class="room4" src="/images/sample_rooms/room4.png" /> </a>
        </div>
        {{> cartbutton}}
            <div>
                <a href="/">
                     <p style="text-align:left; font-size:40px; margin-top: -78px;  margin-left:230px; vertical-align:text-bottom;">
                        ← BACK
                    </p>
                </a>

        </div>
    </div>
</body>

<script type="text/javascript"> // Deleting
    var dots = document.getElementsByClassName("dot");
    for (var i = 0; i < dots.length; i++) {
        var dot = dots[i];
        dot.addEventListener("click", clickdot);
    }
    function clickdot(e) {
        alert('Item added to cart!');
    }
</script>

</html>