<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" meda="all" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" meda="all" href="/css/login-register.css">
    <link rel="icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTown | Login</title>
</head>
{{> navbar}}

<body>
    <div class="container">
        <!-- <img src="../images/logo.png" alt="Logo"> -->
        <h2>Login</h2>
        <form id="loginForm" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <input type="button" value="Login">
        </form>

        <p style="color:red">{{error}}</p>

        <button><a href="/register">Don't have an account?</a></button>
    </div>
</body>

</html>