<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/images.css">
    <link rel="stylesheet" type="text/css" href="/css/hover.css">
    <link rel="icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTown | Kitkat's Home</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


</head>

<body style="background-color:;">
    <div style="margin-left:120px;">
        <div style="position:absolute;" >
            <img class="interior" src="/images/sample_rooms/room2.png" />

            <img title=""style="position:absolute; margin-left:450px; margin-top:450px; width:150px;" src="/images/vectors/rabbit.png"/>
                <img title="" class="dot" prodid="00000007" style="  margin-left:530px; margin-top:540px;" src="/images/click_dot.gif" />

            <img title=""style="position:absolute; margin-left:760px; margin-top:70px; width:150px;" src="/images/vectors/teddy.png"/>
                <img title="" class="dot" prodid="00000006" style="  margin-left:850px; margin-top:170px;" src="/images/click_dot.gif" />
        </div>
        {{> cartbutton backgroundcolor="black"}}
    </div>
                                    <a href="/interior">
                     <p style="position:absolute; text-align:left; font-size:40px; margin-top: 10px;  margin-left:180px; vertical-align:text-bottom;">
                        ← BACK
                    </p>
                </a>
    {{> navbar}}

            <script src="/js/product.js"></script>
</body>


</html>