<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/images.css">
    <link rel="stylesheet" type="text/css" href="/css/hover.css">
    <link rel="icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTown | Home</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


</head>

<body style="background-color:;">
    <div style="margin-left:120px;">
        <div style="position:absolute;" >
            <img class="interior" src="/images/sample_rooms/room4.png" />


            <img title="" class="dot" prodid="00000003" style="  margin-left:530px; margin-top:290px;" src="/images/click_dot.gif" />
            <img title="" class="dot" prodid="00000002" style="  margin-left:390px; margin-top:550px;" src="/images/click_dot.gif" />
            <img title="" class="dot" prodid="00000004" style="  margin-left:850px; margin-top:330px;" src="/images/click_dot.gif" />
        </div>
        {{> cartbutton backgroundcolor="black"}}
    </div>
                    
    {{> navbar}}
            <script src="/js/product.js"></script>
</body>


</html>