<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/images.css">
    <link rel="stylesheet" type="text/css" href="/css/hover.css">
    <link rel="icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTown | Kitkat's Home</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


</head>

<body style="background-color:;">
    <div style="margin-left:120px;">
        <div style="position:absolute;" >
            <img class="interior" src="/images/sample_rooms/room4.png" />

            
            <img title=""style="position:absolute; margin-left:300px; margin-top:200px; width:150px;" src="/images/vectors/blender.png"/>
                <img title="" class="dot" prodid="00000008" style="  margin-left:340px; margin-top:240px;" src="/images/click_dot.gif" />

            <img title=""style="position:absolute; margin-left:50px; margin-top:400px; width:80px;" src="/images/vectors/coffee.png"/>
                <img title="" class="dot" prodid="00000003" style="  margin-left:60px; margin-top:440px;" src="/images/click_dot.gif" />

            <img title=""style="position:absolute; margin-left:400px; margin-top:300px; width:80px;" src="/images/vectors/container.png"/>
                <img title="" class="dot" prodid="00000005" style="  margin-left:440px; margin-top:350px;" src="/images/click_dot.gif" />
        
        </div>
        {{> cartbutton backgroundcolor="black"}}
    </div>
                                    <a href="/interior">
                     <p style="position:absolute; text-align:left; font-size:40px; margin-top: 10px;  margin-left:180px; vertical-align:text-bottom;">
                        ← BACK
                    </p>
                </a>
    {{> navbar}}
            <script src="/js/product.js"></script>
</body>


</html>