body {
    background-color: white;
}

.header {
    text-align: center;
}

.header-text {
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.no-cart-items-text {
    color: red;
    text-align: center;
}

.cart-container {
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: fit-content;
    margin: auto;
}

.cart-info-text,
.cart-item,
.cart-footer {
    grid-template-columns: 150px 150px 400px 100px 200px 150px 200px 125px;
}

.cart-info-text {
    color: black;
    display: grid;
    justify-items: center;
    padding: 5px 10px 15px 10px;
}

.cart-item {
    border-top: 1px solid #e1e8ee;
    border-bottom: 1px solid #e1e8ee;
    padding: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.include-item {
    padding: 25px;
}

.item-image img {
    width: 125px;
}

.item-description {
    padding: 10px 50px 10px 50px;
    display: flex;
    flex-direction: column;
}

.item-name {
    color: black;
}

.item-merchant {
    color: black;
}

.description-text {
    color: gray;
}

.item-unit-price {
    display: flex;
    flex-direction: column;
}

.default-unit-price,
.new-unit-price,
.total-price {
    color: black;
}

.old-unit-price {
    text-decoration: line-through;
    color: red;
}

.item-qty {
    display: flex;
    flex-direction: row;
}

/* hack to remove the increment and decrement buttons on Mozilla */
#item-quantity {
    -moz-appearance: textfield;
    text-align: center;
    width: 40px;
}

/* hack to remove the increment and decrement buttons on Chromium */
#item-quantity::-webkit-inner-spin-button,
#item-quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item-qty button {
    width: 14px;
    height: 14px;
    margin: 15px;
    border: transparent;
}

.minus-btn {
    background: url(/images/cart_minus.png) center;
}

.add-btn {
    background: url(/images/cart_plus.png) center;
}

.total-price {
    text-align: center;
}

.remove-btn {
    width: 20px;
    height: 20px;
    background: url(/images/cart_cross.png) center;
    border: transparent;
}

.cart-footer {
    padding: 20px 10px 20px 10px;
    color: black;
    display: grid;
    align-items: center;
    justify-items: center;
}

.cart-footer-1 {
    border-top: 1px solid #e1e8ee;
}

.subtotal-text {
    grid-column: 6;
    font-weight: bold;
}

.subtotal {
    grid-column: 7;
    font-weight: bold;
}

.points-gained-text {
    grid-column: 6;
    font-weight: bold;
}

.points {
    grid-column: 7;
    font-weight: bold;
}

.check-out-text button {
    border-radius: 8px;
    font-size: medium;
    background-color: #04aa6d;
    border: none;
    padding: 15px 20px;
    text-align: center;
}
