.kithouse {
    position: absolute;
    width: 20%;
    margin-left: 445px;
    margin-top: 190px;
    padding: 0;
    transition: 0.3s;
}

.townmap {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: -8px;
    background-image: url(/images/town_placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.interior {
    position: absolute;
    width: 1300px;
    margin-left: 25px;
    margin-top:-190px;
}


.dot {
    position: absolute;
    width: 25px;
    padding: 0;
    transition: 0.3s;
}

.dot:hover {
    cursor: pointer;
}

.room1 {
    position: absolute;
    width: 500px;
    padding: 0;
    margin-left: 495px;
    margin-top: -75px;
    transition: 0.3s;

}

.room1:hover{
    cursor: pointer;
    margin-top: -95px;
}

.room2 {
    position: absolute;
    width: 500px;
    padding: 0;
    margin-left: 747px;
    margin-top: 50px;
    transition: 0.3s;

}

.room2:hover{
    cursor: pointer;
    margin-top: 30px;
}

.room3 {
    position: absolute;
    width: 500px;
    padding: 0;
    margin-left: 250px;
    margin-top: 50px;
    transition: 0.3s;

}

.room3:hover{
    cursor: pointer;
    margin-top: 30px;
}


.room4 {
    position: absolute;
    width: 500px;
    padding: 0;
    margin-left: 495px;
    margin-top: 180px;
    transition: 0.3s;

}

.room4:hover{
    cursor: pointer;
    margin-top: 160px;
}
