/*  Jetbrains Mono font */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*  Whole site */
body,
textarea,
button {
    background-color: #181a1d;
    color: aliceblue;
    font-family: "Rubik", monospace;
    text-align: justify;
}

label {
    text-shadow: 0 0 12px #000000;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

.navbar {
    position: fixed;
    height: 100%;
    width: 250px;
    margin: -8px;
    margin-left: -200px;
    box-shadow: 0 0 5px 0 ; 
    background: inherit; 
    backdrop-filter: blur(10px); 
    transition: 0.3s;
}

.navbar:hover {
    margin-left: -8px;
}

.navbarText {
    text-align: left;
    padding-left: 20px;
    margin-top: 5px;
    font-size: 28px;
    text-shadow: 0 0 6px #000000;
    transition: 0.3s;
}

.navbarText:hover {
    margin-left: 10px;
}

.mycart {
    position: fixed;
    height: 100px;
    width: 250px;
    margin: 50px;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 5px 0 ; 
    background: inherit; 
    backdrop-filter: blur(10px); 
    transition: 0.3s;
    border-radius: 5px;
}

.mycartText {
    text-align: left;
    padding-left: 27px;
    margin-top: 28px;
    font-size: 35px;
    text-shadow: 0 0 8px #000000;
}

.mycart:hover {
    cursor: pointer;
    bottom: 10px;
}

/* Register / Login Page */
.container {
    margin: 0 auto;
    max-width: 25%;
    padding: 20px;
    background-color: #181818;
    border-radius: 5px;
    margin-top: 0px;
}

.container input[type="click"] {
    width: 10%;
    background-color: #646464;
    color: white;
    margin: 10px 0;
    cursor: pointer;
    border: none;
}
.container h2 {
    text-align: center;
}
.container img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
    height: auto;
}
.container input[type="text"],
.container input[type="password"] {
    font: Verdana;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid gray;
    box-sizing: border-box;
}
.container input[type="submit"] {
    width: 100%;
    background-color: #229e6f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    border: none;
}

.container input[type="submit"]:hover {
    background-color: #68b372;
}

/* Horizontal flex container */
.hori {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

/* Vertical flex container */
.vert {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

/* Adds margin and padding to a flex container */
.block {
    margin: 5px;
    padding: 10px;
}

.product_tab{
    margin-top:0px;
    height:420px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 2px solid black;
    max-width:300px;
    padding:15px;
    transition: 0.3s;
}

.product_tab:hover{
    margin-top: -10px;
    cursor: pointer;
}

.houselist_owner{
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
    width: 100px; 
    height: 100px;
}

.house_and_owner{
    position: relative; 
    display: inline-block;
}


/*Profile classes*/

.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    background-color: teal;
    overflow: hidden;
}
.topbar a{
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 23px;
}
.sidebar{
    background-color: #333;
    color: white;
    height: 100%;
}
.sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 13px;
    text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: gray;
}